*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lightblue;
}
#app{
    background-color: pink;
    height: 70vh;
    width: 60%;
    margin: 5em auto;
    
}
img{
    max-width: 100%;
}